<%= @texto %>

<div id="contenido" class="container">

  <!-- Barra de la izquierda -->
  <div class="btn-group-vertical">
    <button type="button" class="btn btn-default" onClick = "window.location.href=window.location.protocol + '//' + window.location.host + window.location.pathname">
      <span class="glyphicon glyphicon-refresh"></span>
    </button>
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      <span class="glyphicon glyphicon-edit"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li>
        <form id = "mytweetform" name = "mytweetform" method = "get" action = "">
            <textarea id = "new_tweet" name = "new_tweet" row="40" cols = "30" data-stopPropagation="true"> </textarea>
            <button id = "cancel_tweet" type = "button" class = "btn btn-default btn-sm"> Cancelar </button>
            <button type = "submit" class = "btn btn-primary btn-sm"> Enviar </button>
        </form>
      </li>
    </ul>
  </div>

  <!-- Empieza columna -->
  <div class="container column">
    <ul class="nav nav-tabs">
      <li class="active"><a><strong>Home Timeline</strong></a></li>
    </ul>
    <div class="scrolling-bar">
      <ul class="list-group">
        <% @home_tweets.each do |tweet| %>
            <% begin %>
                  <li class="media list-group-item">
                  <a class="pull-left" href="#">
                    <%= image_tag(tweet['user']['profile_image_url_https'] , :class => "media-object") %>
                  </a>
                  <div class="media-body con">
                    <h4 class="media-heading"><%= link_to tweet['user']['screen_name'], "https://twitter.com/#{tweet['user']['screen_name']}" %></h4>
                    <p>
                      <% i = 0 %>
                      <% pedazo = '' %>
                      <% while i < tweet['text'].length do %>
                          <% if tweet['text'][i] == '#' %>
                              <% i += 1 %>
                              <% hash = '' %>
                              <% while i < tweet['text'].length and tweet['text'][i] != ' ' do %>
                                  <% hash << tweet['text'][i] %>
                                  <% i += 1 %>
                              <% end %>

                              <%= pedazo %>
                              <%= link_to '#'+hash, "https://twitter.com/hashtag/#{hash}" %>
                              <% pedazo = '' %>
                          <% elsif tweet['text'][i] == '@' %>
                              <% i += 1 %>
                              <% usr = '' %>
                              <% while i < tweet['text'].length and tweet['text'][i] != ' ' do %>
                                  <% usr << tweet['text'][i] %>
                                  <% i += 1 %>
                              <% end %>

                              <%= pedazo %>
                              <%= link_to '@'+usr, "https://twitter.com/#{usr}" %>
                              <% pedazo = '' %>
                          <% elsif tweet['text'][i, 4] == 'http' or tweet['text'][i, 5] == 'https' %>
                              <% link = '' %>
                              <% while i < tweet['text'].length and tweet['text'][i] != ' ' do %>
                                  <% link << tweet['text'][i] %>
                                  <% i += 1 %>
                              <% end %>

                              <%= pedazo %>
                              <%= link_to link, "#{link}" %>
                              <% pedazo = '' %>
                          <% end %>


                          <% if i < tweet['text'].length %>
                              <% pedazo << tweet['text'][i] %>
                              <% i += 1 %>
                          <% end %>
                      <% end %>

                      <% if pedazo != '' %>
                          <%= pedazo %>
                      <% end %>
                    </p>
                  </div>
                <% rescue Exception => e %>
                    <%= tweet %>
                    <%= e.message %>
                    <br>
                    <%= e.backtrace %>
                    <% next %>

                <% end %>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
  <!-- termina columna -->

  <!-- Empieza columna -->
  <div class="container column">
    <ul class="nav nav-tabs">
      <li class="active"><a><strong>User Timeline</strong></a></li>
    </ul>
    <div class="scrolling-bar">
      <ul class="list-group">
        <% @user_tweets.each do |tweet| %>
            <li class="media list-group-item active">
              <% begin %>
                  <a class="pull-left" href="#">
                    <%= image_tag(tweet['user']['profile_image_url_https'] , :class => "media-object") %>
                  </a>
                  <div class="media-body con">
                    <h4 class="media-heading"><%= link_to tweet['user']['screen_name'], "https://twitter.com/#{tweet['user']['screen_name']}" %></h4>
                    <p id = "mytweet">
                      <% i = 0 %>
                      <% pedazo = '' %>
                      <% while i < tweet['text'].length do %>
                          <% if tweet['text'][i] == '#' %>
                              <% i += 1 %>
                              <% hash = '' %>
                              <% while i < tweet['text'].length and tweet['text'][i] != ' ' do %>
                                  <% hash << tweet['text'][i] %>
                                  <% i += 1 %>
                              <% end %>

                              <%= pedazo %>
                              <%= link_to '#'+hash, "https://twitter.com/hashtag/#{hash}" %>
                              <% pedazo = '' %>
                          <% elsif tweet['text'][i] == '@' %>
                              <% i += 1 %>
                              <% usr = '' %>
                              <% while i < tweet['text'].length and tweet['text'][i] != ' ' do %>
                                  <% usr << tweet['text'][i] %>
                                  <% i += 1 %>
                              <% end %>

                              <%= pedazo %>
                              <%= link_to '@'+usr, "https://twitter.com/#{usr}" %>
                              <% pedazo = '' %>
                          <% elsif tweet['text'][i, 4] == 'http' or tweet['text'][i, 5] == 'https' %>
                              <% link = '' %>
                              <% while i < tweet['text'].length and tweet['text'][i] != ' ' do %>
                                  <% link << tweet['text'][i] %>
                                  <% i += 1 %>
                              <% end %>

                              <%= pedazo %>
                              <%= link_to link, "#{link}" %>
                              <% pedazo = '' %>
                          <% end %>


                          <% if i < tweet['text'].length %>
                              <% pedazo << tweet['text'][i] %>
                              <% i += 1 %>
                          <% end %>
                      <% end %>

                      <% if pedazo != '' %>
                          <%= pedazo %>
                      <% end %>
                    </p>
                  </div>
              <% rescue Exception => e %>
                  <%= tweet %>
                  <%= e.message %>
                  <br>
                  <%= e.backtrace %>
                  <% next %>

              <% end %>
            </li>

        <% end %>
      </ul>
    </div>
  </div>
  <!-- termina columna -->


</div>
