<strong>Home Timeline</strong>

<% @home_tweets.each do |tweet| %>
    <div class="row">
      <div class="span4">
        <p>
          <%= image_tag(tweet['user']['profile_image_url_https']) %>
          <strong><%= link_to tweet['user']['screen_name'], "https://twitter.com/#{tweet['user']['screen_name']}" %></strong>
        </p>
        <p><%= tweet['text'] %></p>
      </div>
    </div>
<% end %>

<strong>User Timeline</strong>

<% @user_tweets.each do |tweet| %>
    <div class="row">
      <div class="span4">
        <p>
          <%= image_tag(tweet['user']['profile_image_url_https']) %>
          <strong><%= link_to tweet['user']['screen_name'], "https://twitter.com/#{tweet['user']['screen_name']}" %></strong>
        </p>
        <p><%= tweet['text'] %></p>
      </div>
    </div>
<% end %>

<div id="contenido" class="container">
  <div class="container column">
    <div class="colum-header">La Wea del Futuro</div>
    <div class="scrolling-bar">
      <ul class="list-group">
        <li class="media list-group-item ">
          <a class="pull-left" href="#">
            <img class="media-object" src="https://pbs.twimg.com/profile_images/3123556037/a0a96501653d288d300dc47a3f514516_normal.jpeg" alt="...">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            ...
          </div>
        </li>
      </ul>
    </div>
  </div>

</div>
