<div id="contenido" class="container">

  <!-- Empieza columna -->
  <div class="container column">
    <ul class="nav nav-pills">
      <li class="active"><a href="#">Actividades</a></li>
    </ul>
    <div class="scrolling-bar">
      <ul class="list-group">
        <% @tweets.each do |tweet| %>
            <li class="media list-group-item">
                <% begin %>
                  <a class="pull-left" href="#">
                    <%= image_tag(tweet['user']['profile_image_url_https'] , :class => "media-object") %>
                  </a>
                  <div class="media-body con">
                    <h4 class="media-heading"><%= link_to tweet['user']['screen_name'], "https://twitter.com/#{tweet['user']['screen_name']}" %></h4>
                    <p class=" list-group-item-text"><%= tweet['text'] %></p>
                  </div>
                <% rescue Exception => e %>
                    <%= tweet %>
                    <%= e.message %>
                    <br>
                    <%= e.backtrace %>
                    <% next %>

                <% end %>
            </li>

        <% end %>
      </ul>
    </div>
  </div>
  <!-- termina columna -->




</div>